* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#004d00 0%, #002200 33.33%, #001100 66.67%, black 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 2px solid #00FF00;
    box-shadow: 0px 0px 20px 2px rgba(0, 255, 0, 0.5);
    background-image: url("img/ridler2.png");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
}

.container__botao {
    border-radius: 16px;
    background: #00FF00;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.container__botao:hover {
    background: #00cc00;
    box-shadow: 0px 0px 10px 2px rgba(0, 255, 0, 0.8);
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: black;
    border: 2px solid #00FF00;
    color: #00FF00;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
    color: #00FF00;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.6);
}

p,
button {
    font-family: 'Inter', sans-serif;
    color: white;
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

button:disabled {
    background-color: gray;
}

@media screen and (max-width: 1250px) {
    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 16px;
    }

    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-pessoa {
        display: none;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem;
    }
}
